<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for、template在ie10、11的兼容性</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h2>列表循环</h2>
        <!-- 各浏览器下正常显示 -->
        <ul>
            <template v-for="(item,index) of list">
                <li data-id="index">{{item.name}}--<span>{{item.age}}</span></li>
            </template>
        </ul>

        <h2>表格循环</h2>
        <!-- 在IE10、IE11下无效效 -->
        <table>
            <template v-for="(item,index) of list">
                <tr data-id="index">
                   <td> {{item.name}}--{{item.age}}</td>
                </tr>
            </template>
        </table>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [{
                    name: 'akun',
                    age: 18
                }, {
                    name: 'apei',
                    age: 99
                }, {
                    name: 'asen',
                    age: 22
                }]
            },
            created: function () {
                console.log("this.list", this.list)
            }
        })

    </script>
</body>

</html>